/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
  	'Montserrat',
  	sans-serif;
}

.body-container {
    max-width: 860px;
    margin: 0 auto; /* This centers the content horizontally within the maximum width */
}

/* Styles for common compontents */
.centered-textblock {
  background-color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.centered-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.centered-text p {
  font-size: 18px;
}


/* Styles for the top navigation bar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  text-align: center;
}

.navbar ul li {
  display: inline;
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

/* Styles for the hero section */
.hero {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
}

/* Styles for the section with three boxes */
.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.box {
  width: 30%;
  background-color: #f4f4f4;
  padding: 30px;
  text-align: center;
}

/* Styles for the about me section */
.about {
  background-color: #ffffff;
  padding: 50px 0;
}

.about-content {
  display: flex;
  justify-content: space-around;
}

.about-text {
  width: 50%;
  padding: 0 20px;
}

.about-photo img {
  width: 100%;
  border-radius: 50%;
}

/* Styles for the partners section with three boxes */
.partners {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.partner-box {
  width: 30%;
  background-color: #f4f4f4;
  padding: 30px;
  text-align: center;
}

.partner-box img {
  display: block; /* Change display property to block */
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%; /* Ensure the image scales within its container */
  height: auto; /* Maintain the aspect ratio */
}

/* Styles for the section with ten boxes */
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column width based on available space */
  grid-gap: 20px;
  padding: 50px 0;
}

.portfolio-box {
  background-color: #f4f4f4;
  padding: 30px;
  text-align: center;
}

/* Styles for the footer section */
.footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}
